<h1><%= @team_name %></h1>

<h2>Team Motto:<%= @team_motto %></h2>

<% @team_members.each do |member| %>
<h2>Hero Name: <%= member[:name] %><h2>
<h2>Hero Power: <%= member[:power] %><h2>
<h2>Hero Bio: <%= member[:bio] %><h2>
<%end%>
